<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game3 flask version</title>
</head>
<body>
    <form action="/game3" method="POST">
    <label style="display: block; margin-bottom: 12px;"> Your number is:
        <input type="text" name="guess", value="{{guess}}" readonly>
    </label>
    {% if not res and (rmax == rmin + 1 or rmax == rmin) %}
    <p>Do not cheat me.</p>
    {% elif not rmin == rmax %}
    <label> Choose:
        <button type="submit" name="res" value="too small">
            &nbsp;too small&nbsp;
        </button>
        <button type="submit" name="res" value="too big">
            &nbsp;too big&nbsp;
        </button>
        <button type="submit" name="res" value="you won">
            &nbsp;you won&nbsp;
        </button>
        <input type="hidden" name="rmin" value="{{ rmin }}">
        <input type="hidden" name="rmax" value="{{ rmax }}">
    </label>
    {% else %}
    <p>Hurra! I guess!</p>
    {% endif %}
    </form>
</body>
</html>
